$yellow: #ffe600;
$black: #333333;
$grey: #666666;
$lightGrey: #999999;
$lighterGrey: #eeeeee;
$blue: #3483fa;

$text-xsmall: 12px;
$text-small: 14px;
$text-medium: 18px;
$text-large: 24px;
$text-xlarge: 28px;
$text-xxlarge: 46px;
